*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  box-sizing: border-box;
}

body{
  /*background-image: linear-gradient(120deg,#487eb0,#fbc531);*/
  min-height: 100vh;
}


.container{
  max-width: 800px;
  margin: auto;
  padding: 10px;
}

.txtb{
  width: 100%;
  border: none;
  border-bottom: 2px solid #000;
  background: none;
  padding: 10px;
  outline: none;
  font-size: 18px;
}

h3{
  margin: 10px 0;
}

.task{
  width: 100%;
  padding: 15px;
  margin: 6px 0;
  overflow: hidden;
  border-radius: 2rem;
  font-size: 20px;
  border: 2px solid purple;
  padding-left: 40px;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 30%);
}

.task i{
  float: right;
  margin-left: 20px;
  cursor: pointer;
}

.completed-task .task{
  background:purple;
  color: #fff !important;
}

.not-completed-taskleted-task {
  height: 400px;
  overflow-y: auto;
  width: 50% !important;
  float: left;
  padding: 10px;
}

.completed-task {
  width: 50% !important;
  float: left;
  padding: 10px;
  height: 400px;
  overflow-y: auto;
}

.auth-button , .auth-button{
  display: block;
  width: 115px;
  margin: auto;
  padding: 10px;
  font-size: 15px;
  background-color: darkred;
  color: white;
  font-weight: bold;
  border: none;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 30%) !important;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}

form#login {
  width: 100% !important;
  margin: auto;
  text-align: center;
  margin-top: 1;
}

input {
  padding: 10px;
  margin: auto;
  margin-left: 5%;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  padding:20px;
}

.login-error , .login-result {
  text-align: center;
}

.addNewTask {
  display: block;
  width: 115px;
  margin: auto;
  padding: 10px;
  font-size: 15px;
  background-color: green;
  color: white;
  font-weight: bold;
  border: none;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 30%) !important;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}

.taskName {
  width: 100% !important;
}