doctype html
html(lang='en')
  head
    title Jade
    style(type='text/css').
        h1 { text-align: center; margin: auto; }
        p { font-family: Tahoma, Verdana; font-size: 12px; }
        .task-item { width: 400px; margin:auto; max-width: 370px; border-radius: 3px; background-color: white;}
        .task-item p { padding: 15px; background-color: green; color: white; font-size: 14px; font-weight: bold; font-family: -webkit-pictograph; }
        .task-status { float: left; margin-right: 10px; width: 50px; height: 20px; background-color: red }
        .task-list-container { height: 500px; background-color: gray; overflow-y: auto; }
        .create-new-task { background-color: #4CAF50; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;}
  body
    h1 Taskların Listesi
    #container.col
      div.task-list-container
        div.create-new-task Yeni Task Oluştur
        each val , key in newListItems
          div(href!='home/sell/edit?id=#{val.id} ',class='task-item')
              p.title #{ val.title}
                input(type="button", class='task-status', value='X') 
